<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Add Starter Menu Course</h5>
        <form class="form-signin"
              #starterMenuForm="ngForm"
              (ngSubmit)="starterMenuForm.form.valid && addCourseCourse(starterMenuForm)"
              novalidate>
          <div class="form-group">
            <label for="CategoryOFStarter">Select Category</label>
            <select class="form-control"
                    id="CategoryOFStarter"
                    name="CategoryOFStarter"
                    [(ngModel)]="startCourseForm.categoryOFStarter"
                    #CategoryOFStarter="ngModel"
                    [ngClass]="{ 'is-invalid': starterMenuForm.submitted && CategoryOFStarter.invalid }"
                    required>
              <option>Soup</option>
              <option>Veg-Starter</option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputStarterName">Name</label>
            <input type="text"
                   id="inputStarterName"
                   name="inputStarterName"
                   class="form-control"
                   [(ngModel)]="startCourseForm.nameOFStarter"
                   #inputStarterName="ngModel"
                   [ngClass]="{ 'is-invalid': starterMenuForm.submitted && inputStarterName.invalid }"
                   required>
          </div>
          <div class="form-group">
            <label for="inputStarterPrice">Price</label>
            <input type="text"
                   id="inputStarterPrice"
                  class="form-control"
                  name="inputStarterPrice"
                  [(ngModel)]="startCourseForm.priceOfStarter"
                  #inputStarterPrice="ngModel"
                  [ngClass]="{ 'is-invalid': starterMenuForm.submitted && inputStarterPrice.invalid }"
                  required>
          </div>
          <div class="form-group">
              <label for="inputStarterMenuDate">Create Date</label>
              <input type="date"
                     id="inputStarterMenuDate"
                    class="form-control"
                    name="inputStarterMenuDate"
                    [(ngModel)]="startCourseForm.createDate"
                    #inputStarterMenuDate="ngModel"
                    [ngClass]="{ 'is-invalid': starterMenuForm.submitted && inputStarterMenuDate.invalid }"
                    required>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="vegCheck">
            <label class="custom-control-label" for="vegCheck">Veg</label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="nonVegCheck">
            <label class="custom-control-label" for="nonVegCheck">Non-Veg</label>
          </div>
          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
