<div class="form-group p-3">
        <mat-accordion>
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                <mat-expansion-panel-header>
                    <mat-panel-title >Veg Main Course Curry and Dal Items</mat-panel-title>
                </mat-expansion-panel-header>
                <span class="badge badge-success p-2">Veg Main Course Curry and Dal Items</span>
                <ul class="list-group p-1">
                    <li class="list-group-item">
                        <div class="float-left">
                            <p>Aloo Mattar</p>
                            <span>₹165.00</span>
                        </div>                                       
                        <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                    </li>
                    <li class="list-group-item">
                        <div class="float-left">
                            <p>Dal Tadka</p>
                            <span>₹90.00</span>
                        </div>                                       
                        <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                       </li>
                    <li class="list-group-item">
                        <div class="float-left">
                            <p>Vge Noodles Soup</p>
                            <span>₹105.00</span>
                        </div> 
                        <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                    </li>
                    <li class="list-group-item">
                        <div class="float-left">
                                    <p>Baby Corn Masala</p>
                                    <span>₹155.00</span>
                        </div> 
                        <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                    </li>
                    <li class="list-group-item">
                        <div class="float-left">
                                    <p>Mushroom Baby Corn Masala</p>
                                    <span>₹145.00</span>
                        </div> 
                        <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                    </li>
                    <li class="list-group-item">
                            <div class="float-left">
                                        <p>
                                                Mushroom Masala</p>
                                        <span>₹175.00
                                            </span>
                            </div> 
                            <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                        </li>
                        <li class="list-group-item">
                                <div class="float-left">
                                            <p>
                                                    Panner Tikka Masala</p>
                                            <span>₹210.00
                                                </span>
                                </div> 
                                <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                            </li>
                    
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Rice and Biryani</mat-panel-title>
                    </mat-expansion-panel-header>
                    <span class="badge badge-success p-2">Rice and Biryani</span>
                    <ul class="list-group p-1">
                            <li class="list-group-item">
                                <div class="float-left">
                                    <p>Veg Pulao</p>
                                    <span>₹165.00
                                        </span>
                                       
                                </div>                                       
                                <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                            </li>
                            <li class="list-group-item">
                                <div class="float-left">
                                    <p>
                                            Ghee Rice</p>
                                    <span>₹155.00
                                        </span>
                                </div>                                       
                                <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                               </li>
                            <li class="list-group-item">
                                <div class="float-left">
                                    <p>
                                            Kashmiri Veg Pulao</p>
                                    <span>₹165.00
                                        </span>
                                       
                                </div> 
                                <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                            </li>
                            <li class="list-group-item">
                                <div class="float-left">
                                            <p>Peas Pulao</p>
                                            <span>₹145.00
                                                </span>
                                              
                                </div> 
                                <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                            </li>
                            <li class="list-group-item">
                                <div class="float-left">
                                            <p>Plane Rice</p>
                                            <span>₹100.00</span>
                                </div> 
                                <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                            </li>
                            <li class="list-group-item">
                                    <div class="float-left">
                                                <p>Shanghai Fried Rice</p>
                                                <span>₹165.00
                                                    </span>
                                    </div> 
                                    <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                                </li>
                                <li class="list-group-item">
                                        <div class="float-left">
                                                    <p>Paneer Fried Rice</p>
                                                    <span>₹175.00
                                                        </span>
                                        </div> 
                                        <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                                    </li>
                            
                        </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Breads</mat-panel-title>
                    </mat-expansion-panel-header>
                    <span class="badge badge-success p-2">Breads and Chapati Items</span>
                    <ul class="list-group p-1">
                            <li class="list-group-item">
                                <div class="float-left">
                                    <p>Aloo Paratha</p>
                                    <span>₹55.00

                                        </span>
                                       
                                </div>                                       
                                <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                            </li>
                            <li class="list-group-item">
                                <div class="float-left">
                                    <p>
                                            Butter Naan</p>
                                    <span>₹55.00

                                        </span>
                                </div>                                       
                                <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                               </li>
                            <li class="list-group-item">
                                <div class="float-left">
                                    <p>
                                            Butter Roti</p>
                                    <span>₹55.00
                                        </span>
                                       
                                </div> 
                                <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                            </li>
                            <li class="list-group-item">
                                <div class="float-left">
                                            <p>2 Pulka</p>
                                            <span>₹55.00

                                                </span>
                                              
                                </div> 
                                <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                            </li>
                            <li class="list-group-item">
                                <div class="float-left">
                                            <p>Kulcha</p>
                                            <span>₹35.00
                                                </span>
                                </div> 
                                <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                            </li>
                            <li class="list-group-item">
                                    <div class="float-left">
                                                <p>Plain Naan</p>
                                                <span>₹165.00
                                                    </span>
                                    </div> 
                                    <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                                </li>
                                <li class="list-group-item">
                                        <div class="float-left">
                                                    <p>Tandoori Paratha</p>
                                                    <span>₹55.00
                                                        </span>
                                        </div> 
                                        <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                                    </li>
                            
                        </ul>
            </mat-expansion-panel>
        </mat-accordion>

</div>