<div class="form-group p-3">
        <mat-accordion>
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                <mat-expansion-panel-header>
                    <mat-panel-title >Soup</mat-panel-title>
                </mat-expansion-panel-header>
                <span class="badge badge-success p-2">Soup Item</span>
                <ul class="list-group p-1">
                    <li class="list-group-item">
                        <div class="float-left">
                            <p>Veg Clear Soup</p>
                            <span>₹165.00</span>
                        </div>                                       
                        <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                    </li>
                    <li class="list-group-item">
                        <div class="float-left">
                            <p> Veg Clear Soup</p>
                            <span>₹90.00</span>
                        </div>                                       
                        <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                       </li>
                    <li class="list-group-item">
                        <div class="float-left">
                            <p>Vge Noodles Soup</p>
                            <span>₹105.00</span>
                        </div> 
                        <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                    </li>
                    <li class="list-group-item">
                        <div class="float-left">
                                    <p>Cream of Mushroom Soup</p>
                                    <span>₹155.00</span>
                        </div> 
                        <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                    </li>
                    <li class="list-group-item">
                        <div class="float-left">
                                    <p>Sweet Corn Veg Soup</p>
                                    <span>₹145.00</span>
                        </div> 
                        <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                    </li>
                    
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Veg Starters</mat-panel-title>
                    </mat-expansion-panel-header>
                    <span class="badge badge-success p-2">Veg Starters Items</span>
                    <ul class="list-group p-2">
                            <li class="list-group-item">
                                <div class="float-left list-inline">
                                    <p>Gobi 65</p>
                                    <span class="align-text-top">₹165.00 </span>
                                       
                                </div>                                       
                                <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                            </li>
                            <li class="list-group-item">
                                <div class="float-left">
                                    <p>Paneer 65</p>
                                    <span>₹175.00</span>
                                </div>                                       
                                <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                               </li>
                            <li class="list-group-item">
                                <div class="float-left">
                                    <p>Chilly Baby Corn</p>
                                    <span>₹175.00 </span>
                                       
                                </div> 
                                <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                            </li>
                            <li class="list-group-item">
                                <div class="float-left">
                                            <p>Gobi Manchurian</p>
                                            <span>₹165.00</span>
                                              
                                </div> 
                                <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                            </li>
                            <li class="list-group-item">
                                <div class="float-left">
                                            <p>Paneer Tikka</p>
                                            <span>₹145.00</span>
                                </div> 
                                <input type="button" class="btn btn-outline-primary btn-sm ml-3 float-right " value="Add"/>    
                            </li>
                            
                        </ul>
            </mat-expansion-panel>
        </mat-accordion>

    </div>