<div class="row">
        <div class="col-md-12 p-3">
            <mat-card>
                <mat-card-header>
                            <mat-card-title class="text-center">Delhi Dhaba</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                            
                </mat-card-content>
            </mat-card>
        </div>
    <div class="col-md-12 p-3">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title class="text-center">Your Order</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>   
                    <div class="col-md-12">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                            <div class="row">
                                               <div class="col-md-6">
                                                    <div class="p-2 bd-highlight">Paneer Curry</div>  
                                               </div>
                                               <div class="col-md-3">
                                                    <div class="p-2 flex-fill bd-highlight">
                                                            <span class="addandminusbtn">
                                                                  <mat-icon aria-hidden="false" aria-label="plus" style="cursor: pointer">+</mat-icon>
                                                                  <input type="text" value="1" class="txt-w" readonly>
                                                                  <mat-icon aria-hidden="false" aria-label="minus" style="cursor: pointer">-</mat-icon>
                                                            </span>
                                                            <span aria-hidden="true" style="margin-left:5px;cursor: pointer">&times;</span>
                                                    </div>
                                                    <div class="p-2 bd-highlight" style="margin: -11px 0px 0px 28px; color: #858383">$453</div>  
                                               </div>
                                               <div class="col-md-3">
                                                    <div class="p-2 flex-shrink-1 bd-highlight float-right ">$452</div>
                                               </div>
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                    <div class="row">
                                       <div class="col-md-6 col-sm-3 col-xm-3">
                                            <div class="p-2 bd-highlight">Veg Biryani</div>  
                                       </div>
                                       <div class="col-md-3 col-sm-3 col-xm-3">
                                            <div class="p-2 flex-fill bd-highlight">
                                                    <span class="addandminusbtn">
                                                          <mat-icon aria-hidden="false" aria-label="plus" style="cursor: pointer">+</mat-icon>
                                                          <input type="text" value="1" class="txt-w" readonly>
                                                          <mat-icon aria-hidden="false" aria-label="minus" style="cursor: pointer">-</mat-icon>
                                                    </span>
                                                    <span aria-hidden="true" style="margin-left:5px;cursor: pointer">&times;</span>
                                                  </div>
                                                <div class="p-2 bd-highlight" style="margin: -11px 0px 0px 28px;color: #858383">$453</div> 
                                       </div>
                                       <div class="col-md-3 col-sm-3 col-xm-3">
                                            <div class="p-2 flex-shrink-1 bd-highlight float-right">$452</div>
                                       </div>
                                    </div>
                               </li>
                          </ul>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xm-6"><span class="float-left">SubTotal:</span></div>
                                <div class="col-md-6 col-sm-6 col-xm-6"><span class="float-right" style="margin-right: 13px;">$45875</span></div>
                            </div>
                    </div>
                    
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button class="btn btn-outline-primary" (click)="continueToPayment()">continue</button>
                    </mat-card-actions>
                </mat-card>
            </div>    
        </div> 
    </div>  
    </div>
    