<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Add Desert Menu</h5>
        <form class="form-signin"
              #desrtForm="ngForm"
              (ngSubmit)="desrtForm.form.valid && onAddDesrt(desrtForm)"
              novalidate>
          <div class="form-group">
            <label for="CategoryOFDesert">Select Category</label>
            <select class="form-control"
                    id="CategoryOFDesert"
                    name="CategoryOFDesert"
                    [(ngModel)]="desertForm.categoryOFDesert"
                    #CategoryOFDesert="ngModel"
                    [ngClass]="{ 'is-invalid': desrtForm.submitted && CategoryOFDesert.invalid }"
                    required>
              <option>Sweet</option>
              <option>Ice Creams</option>
              <option>Juice</option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputdesrtName">DesrtName</label>
            <input type="text"
                  id="inputdesrtName"
                  class="form-control"
                  name="inputdesrtName"
                  [(ngModel)]="desertForm.desertName"
                  #inputdesrtName="ngModel"
                  [ngClass]="{ 'is-invalid': desrtForm.submitted && inputdesrtName.invalid }"
                  required>
                  <!-- <div *ngIf="desrtForm.submitted && inputdesrtName.invalid" class="invalid-feedback">
                      <div *ngIf="desertName.errors.required">First Name is required</div>
                  </div> -->
          </div>
          <div class="form-group">
            <label for="inputdesrtPrice">DesrtPrice</label>
            <input type="text"
                  id="inputdesrtPrice"
                  class="form-control"
                  name="inputdesrtPrice"
                  [(ngModel)]="desertForm.desertPrice"
                  #inputdesrtPrice="ngModel"
                  [ngClass]="{ 'is-invalid': desrtForm.submitted && inputdesrtPrice.invalid }"
                  required>
          </div>
          <div class="form-group">
              <label for="inputDesertMenuDate">Create Date</label>
              <input type="date"
                     id="inputDesertMenuDate"
                    class="form-control"
                    name="inputDesertMenuDate"
                    [(ngModel)]="desertForm.creatDate"
                    #inputDesertMenuDate="ngModel"
                    [ngClass]="{ 'is-invalid': desrtForm.submitted && inputDesertMenuDate.invalid }"
                    required>
          </div>
          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
